.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #394451;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    color: white;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    z-index: 100;
    padding-top: 15px;
 }

 @media screen and (max-width:1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
    
 }